@page
@model PH5.FirstGroup_Web.Pages.DefaultModel
@{
    Layout = null;
}


<script src="~/js/layui/layui.js"></script>
<link href="~/js/layui/css/layui.css" rel="stylesheet" />
<script src="~/js/jquery-3.4.1.js"></script>
<script src="~/js/site.js"></script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统管理-主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--加载css-->]
    <script src="~/layui老师发的/layui.js"></script>
    <link href="~/layui老师发的/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body " theme="">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">物联网+协同办公云平台</div>
            <div class="layui-flex"><a href="javascript:" title="折叠左侧菜单"><i class="layui-icon layui-icon-shrink-right"></i></a></div>
            <ul class="layui-nav layui-layout-left header-nav" id="top" lay-filter="left-nav">
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="right-nav">
                <li class="weather">
                    <div id="tp-weather-widget"></div>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        @* <img src="/Content/images/hd.jpg" class="layui-nav-img" />*@

                    </a>
                    <dl class="layui-nav-child">
                        <dd lay-unselect><a href="javascript:;" lay-event="userInfo">个人资料</a></dd>

                        <dd lay-unselect><a href="javascript:;" lay-event="updatePwd">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-unselect><a href="javascript:;" lay-event="logout"><i class="fa fa-sign-out"></i>&nbsp;退出</a></li>
                <li class="layui-nav-item layui-nav-item-last" lay-unselect><a href="javascript:;" lay-event="theme" title="设置主题"><i class="layui-icon layui-icon-more-vertical"></i></a></li>
            </ul>
        </div>
        <div class="layui-side">
            <div class="layui-side-scroll">
                <ul id="menu" class="layui-nav layui-nav-tree" lay-filter="menu">
                    <li class="layui-nav-item layui-this">
                        <a href="/Home/Default">
                            <i class="layui-icon layui-icon-app"></i><cite>&nbsp;控制台</cite>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body main-body">
            <iframe name="frmMain" width="100%" height="100%"></iframe>
        </div>
    </div>
</body>
</html>

<script>
     
    layui.config({
        base: '/layui老师发的/extends/'
    })
    layui.use(['jquery', 'layer', 'element', 'dropdown', 'form'], function () {
        var dropdown = layui.dropdown;
        var form = layui.form;
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //$ = layui.jquery;
        //alert('http://10.3.41.10:8020/api/Men_Show');
        //头部菜单
        window.bindtop = function bindtop() {

            $.ajax({
                url: "http://10.3.41.10:8020/api/Men_Show",
                data: { 'uid': localStorage.getItem("id") },

                type: "get",
                success: function (d) {
                    //var st = "";
                    //for (var i = 0; i < d.length; i++) {
                    //    st = st + ' <li class="layui-nav-item" style>'
                    //        + '<a href="javascript:void(0)" data-type="refer"  lay-key="' + d[i].menuID + '"><i class="fa fa-cogs"></i>' + d[i].menuName + '</a></li >';
                    //}
                    $("#top").append(d.str);
                    element.render('nav');
                }
            })
        }
        bindtop();
        //element.init();
        element.render('nav');
        form.render();
        ////监听导航点击
        element.on('nav(left-nav)', function (elem) {

            var id = elem.attr('lay-key');
            $.ajax({
                url:  "http://10.3.41.10:8020/api/Men_Show2",
                type: "post",
                data: { 'uid': localStorage.getItem("uid"), 'pid': id },
                success: function (d) {
                    $("#menu").html(d);
                    element.render('nav');
                }
            })
        });

        //dropdown.on('click(top)', function (options) {
        //    var othis = $(this); //当前菜单列表的 DOM 对象
        //    console.log(options); //菜单列表的 lay-options 中的参数
        //}); 

    });

    //layui.use(['element'], function () {
    //    var $ = layui.$;
    //    var element = layui.element;
    //    //$("body").on("click", '#top', function (elem) {
    //    //    var id = elem.attr('lay-key');
    //    //    alert(id);
    //    //});

    //    element.on('nav(left-nav)', function (elem) {
    //        alert('13442');
    //        flexLeftNav(2);
    //        var id = elem.attr('lay-key');
    //        alert(id);
    //        getMenu(id);
    //    });  
    //})

     
</script>




